<icegrid>
    <application name="Server">
        <node name="server1">
            <server id="server1" exe="java" activation="on-demand">
                <option>-DIce.ThreadPool.Size=16</option>
                <option>-jar</option>
                <option>./server.jar</option>
                <properties>
                    <property name="Ice.MessageSizeMax" value="1000000000" />
                    <property name="Ice.ThreadPool.Server.Size" value="2"/>
                    <property name="Ice.ThreadPool.Server.StackSize" value="65536"/>
                    <property name="MasterCallback.Endpoints" value="default -h xhgrid7"/>
                </properties>
                <adapter name="ClientResolver" endpoints="tcp -h xhgrid7">
                    <object identity="clientResolver1" type="::ClientIce::ClientResolver" property="identity" />
                </adapter>
                <adapter name="MasterCallback" endpoints="tcp -h xhgrid7">
                    <object identity="masterCallback1" type="::ServerIce::MasterCallback" property="identity" />
                </adapter>
            </server>
        </node>
    </application>
</icegrid>
